<form method="post" action="{{ path('app_profile_delete', {'id_profil': profile.id_profil}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile.id_profil) }}">
    <button class="btn">Delete</button>
</form>
