<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('var')
    ->exclude('vendor')
    ->in(__DIR__);

$config = new PhpCsFixer\Config();
return $config
    ->setRules([
        '@Symfony' => true,
        'doctrine/annotations' => true,
    ])
    ->setFinder($finder);
