{% extends 'base.html.twig' %}

{% block body %}
   <div>
    <h1>Créer votre Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

        <a class="btn btn-secondary display-4" href="{{ path('app_Reclamation_index') }}"style="display: block; margin: 0 auto; text-align: center;">Retourner a la liste</a>

     </div>
{% endblock %}
