{% extends '/admin/index.html.twig' %}

{% block title %}Editer Evenement{% endblock %}

{% block body %}
    <h1>Editer Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adm_evenement_index') }}">retour</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
