{% extends 'base.html.twig' %}
{% block title %}New Parrainage{% endblock %}

{% block body %}

    {{ include('parrainage/_form.html.twig') }}

    <a class="btn btn-secondary display-4" href="{{ path('app_parrainage_index') }}"style="display: block; margin: 0 auto; text-align: center;">back to list</a>

{% endblock %}
