td {
    word-wrap: break-word;
    max-width: 150px;
}
#show {
    
   height: fit-content;
}
.table{
    border: 1px solid;
  }
  .main .center{
    width: 50%;
    height: auto;
    padding: 20px 20px 0 20px;
    background: #a20c0c;
    margin-left: 25%;
}