td {
    word-wrap: break-word;
    max-width: 150px;
}
#show {
    
   height: fit-content;
}
.table{
    border: 1px solid;
  }
  .main .center{
    width: 50%;
    height: auto;
    padding: 20px 20px 0 20px;
    background: #a20c0c;
    margin-left: 25%;
}

body, html {
    height: 100%;
    text-align: center;
    background-color: #f2ebe9;  
}

#animationWindow {
  width: 100%;
  height: 100%;
 }

/* body {
  background-color: #242F3F;
} */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #ff5733;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}



