{% extends 'base.html.twig' %}

{% block title %}Editer Collaboration{% endblock %}

{% block body %}
    <h1>Editer Collaboration</h1>
<div class="container">
    {{ include('collaboration/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('app_collaboration_index') }}">revenir aux Collaborations</a>

    {{ include('collaboration/_delete_form.html.twig') }}
</div>
{% endblock %}
