{% extends 'base.html.twig' %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block title %}New Collaboration{% endblock %}

{% block body %}
<div class="container my-5">
    
  
    <h1>Create new Collaboration</h1>
    <div class="row">


    {{ include('collaboration/_form.html.twig') }}

    <a href="{{ path('app_collaboration_index') }}">back to list</a>

      </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
    $(document).ready(function() {
    $('.selectType').select2();
});
    </script>
{% endblock %}
