{% extends 'base.html.twig' %}

{% block title %}New Collaboration{% endblock %}

{% block body %}
    <h1>Create new Collaboration</h1>

    {{ include('collaboration/_form.html.twig') }}

    <a href="{{ path('app_collaboration_index') }}">back to list</a>
{% endblock %}
