{% extends 'base.html.twig' %}

{% block title %}New Artwork{% endblock %}

{% block body %}

    <h1 class="spinner">Create new Artwork</h1>

    {{ include('artwork/_form.html.twig') }}

    <a class ="btn btn-secondary display-4" href="{{ path('app_artwork_index') }}">back to list</a>
{% endblock %}
