{{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form , {'attr': {'novalidate': 'novalidate'}}) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form , {'attr': {'novalidate': 'novalidate'}}) }}
