
{% extends 'baseBack.html.twig' %}
{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}"style="display: block; margin: 0 auto; text-align: center;">back to list</a>
{% endblock %}
