{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
<h1>Thanks for your attempted order!</h1>
    <p>
      We appreciate your business!
      But the payment failed, please email
      <a href="mailto:artfuliotn@gmail.com">artfuliotn@gmail.com</a>.
    </p>
{% endblock %}
